

@using Microsoft.AspNetCore.Identity
@using ResearchTube.Areas.Identity.Data

@inject SignInManager<ResearchTubeUser> SignInManager
@inject UserManager<ResearchTubeUser> UserManager
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
    var user = await UserManager.GetUserAsync(User);
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="rounded-circle" src="@Url.Content(@user.UploadImage ?? "~/Images/default.jpg")" width="150" height="150" alt="User" asp-append-version="true" style="margin:auto" />
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-control" style="margin-top:30px">@user.FirstName @user.LastName </div>
                    <br />
                    <div class="form-control">@user.Email</div>
                </div>
            </div>
        </div>

        <br />
        <hr />
        <div>
            <partial name="_ProfileNav" />
        </div><br /><br />
        
        <div >
                @RenderBody()
        </div>
 
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
